*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFF8F3;
}




.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}


.btn{

    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

}


nav{
    width: 71%;
    max-width: 1170px;
    

    margin: 0 auto;
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 45px;
    font-weight: 900;
}

.r{
    color:#FD6E0A ;
}


.item{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;

}
 .item a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
 }
